<h1> Welcome to Yelp! </h1>


<ol>
  <% @restaurants.each do |restaurant| %>
    <li>
      <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
      <p><%= restaurant[:description] %></p>
    </li>
  <% end %>
</ol>
